* {
    box-sizing: border-box;
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 16px;
    background-color: grey;
    border: 5px double darkcyan;
    border-radius: 12px;
    opacity: 0.7;
    margin: 10px;
}

h1, p, label {
    color: white !important;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid grey;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: white;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: lightcyan;
  color: darkcyan;
  font-family: cursive;
  padding: 10px;
  border: 2px solid darkcyan;
  border-radius: 10px !important;
  cursor: pointer;
  width: 50%;
}

button:hover {
    background-color: white !important;
}


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
